<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias  alias="BoardVO" type="com.my.app.service.BoardVO"/>
		<typeAlias  alias="SearchVO" type="com.my.app.service.SearchVO"/>
		<typeAlias  alias="PageVO" type="com.my.app.service.PageVO"/>
	</typeAliases>
    
</configuration>